app/flows/flow-clock.json
[
    {
        "id": "de5f2b14.ab3bc",
        "type": "tab",
        "label": "Clock",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88c78cd7.1e2bb",
        "type": "ui_tab",
        "z": "",
        "name": "Device Stats",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fee98c91.8a287",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6e28a403.732adc",
        "type": "ui_tab",
        "z": "",
        "name": "Digital Clock",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f39b162c.9e3148",
        "type": "ui_group",
        "z": "",
        "name": "clock",
        "tab": "6e28a403.732adc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fa79f97c.76c6b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f39b162c.9e3148",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "7d28b87e.6db5c",
        "type": "inject",
        "z": "de5f2b14.ab3bc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "a3c4572c.b7938",
                "62208c58.49eaf4",
                "7a3032e2.037edc"
            ]
        ]
    },
    {
        "id": "a3c4572c.b7938",
        "type": "debug",
        "z": "de5f2b14.ab3bc",
        "name": "UNIX time",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "62208c58.49eaf4",
        "type": "moment",
        "z": "de5f2b14.ab3bc",
        "name": "Date",
        "topic": "localtime",
        "input": "payload",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "ddd Do MMM YYYY",
        "locale": "en_GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "461ce45e.5d5e3c",
                "2e695ea5.632902"
            ]
        ]
    },
    {
        "id": "b3313774.1b0fd8",
        "type": "moment",
        "z": "de5f2b14.ab3bc",
        "name": "Calendar",
        "topic": "localtime",
        "input": "",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "calendar",
        "locale": "en_GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "e4fa6ac7.572708"
            ]
        ]
    },
    {
        "id": "461ce45e.5d5e3c",
        "type": "debug",
        "z": "de5f2b14.ab3bc",
        "name": "Date",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "294109f2.5d38c6",
        "type": "debug",
        "z": "de5f2b14.ab3bc",
        "name": "Calendar",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 700,
        "y": 680,
        "wires": []
    },
    {
        "id": "7a3032e2.037edc",
        "type": "moment",
        "z": "de5f2b14.ab3bc",
        "name": "Time",
        "topic": "localtime",
        "input": "",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH:mm",
        "locale": "en_GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "d617f189.6d971",
                "9f967571.c18ff8"
            ]
        ]
    },
    {
        "id": "d617f189.6d971",
        "type": "debug",
        "z": "de5f2b14.ab3bc",
        "name": "Time",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "e4fa6ac7.572708",
        "type": "function",
        "z": "de5f2b14.ab3bc",
        "name": "last 5 char",
        "func": "var time = msg.payload.slice(-5);\nmsg.payload = time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "294109f2.5d38c6"
            ]
        ]
    },
    {
        "id": "2e695ea5.632902",
        "type": "ui_text",
        "z": "de5f2b14.ab3bc",
        "group": "f39b162c.9e3148",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date",
        "format": "<font size=6>{{msg.payload}}",
        "layout": "col-center",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "9f967571.c18ff8",
        "type": "ui_text",
        "z": "de5f2b14.ab3bc",
        "group": "f39b162c.9e3148",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Time",
        "format": "<font size=6>{{msg.payload}}",
        "layout": "col-center",
        "x": 710,
        "y": 380,
        "wires": []
    }
]